/* Import Manrope from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  font-family: "Manrope", system-ui, sans-serif;
}

.font-display {
  font-family: "Manrope", system-ui, sans-serif;
}

.font-body {
  font-family: "Graphik", system-ui, sans-serif;
}
